.container {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-bottom: 70px;
}

.grey {
    color: white;
    background: #808080;
    text-align: center;
    padding: 10px;
}

.yellow {
    color: #4d4d4d;
    background: #FFC600;
    text-align: center;
    padding: 10px;
}

#new {
    background: white; 
    text-align: center;
    padding: 20px;
}

html {
    background: #E6E6E6;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;

}

h1 {
    text-align: center;
}

.space {
    height: 22px;
}

#currentquery {
    text-align: center;
    padding: 20px;
    background: white;
}

footer { 
    text-align: center;
    margin-top: 30px;
}

.half {
    width: 50%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.leftcolumn {
    margin-right: 20px;
}

p {
    padding: 5px;
}

input {
    margin: 10px;
}

button {
    float: right; 
    margin: 20px;
    margin-right: 50px;
    color: white;
    background: #4d4d4d;
    border: none;
    font-size: 16px;
    width: 100px;
    height: 30px;
    cursor:pointer;
}

.selected {
    color: #FFC600;
    font-weight: bold;
    cursor: pointer;
}

.notselected {
    color: black;
    cursor: pointer;
}

input::checkbox {
    color: #FFC600;
}

.and {
    float: none;
    border: 1px solid #4d4d4d;
    background: white;
    color: #4d4d4d;
}

#or {
    float: none;
    border: 1px solid #4d4d4d;
    background: white;
    color: #4d4d4d;
}


.andDiv {
    display: none;
}

.orDiv {
    display: none;
}

.buttonDisabled {
    background: #D2D2D2;
    cursor: not-allowed;
    pointer-events: none;
}

.query {
    text-align: left;
}

.andInP {
    display: none; 
}

.orInP {
    display: none;
    float: none;
}

.inProgress {
    font-size: 24px;
    color: #FFC600;
    font-weight: bold;
}

.padding { 
    padding: 50px;
}

#queryDiv {
    overflow: scroll;
}